/*  your css code here. If applicable */
body{
	background-color:#cccccc;
}
.player_one{
	background-color:white;	
	border:1px solid;
}
.player_two{
	background-color:white;	
	padding:5px;
	border:1px solid;
	margin-left:auto;
	margin-right:auto;
	width:max-content;
}
ul{
	list-style-type: none;
	padding:5px;
}
a{
	text-decoration-line:none;
}